body
{background-image: url('https://media0.giphy.com/media/S4Kjoat3j5PB0iv6Ef/giphy.gif?cid=ecf05e47fhngz7oa53ype65kkrx60po5l3tulcwtbooi16jx&ep=v1_gifs_search&rid=giphy.gif&ct=g');
    background-size: cover;
    height: 100vh;
    padding:0;
    margin:0;
}





