body{background-color: antiquewhite;}

.container{
width:400px;
height:400px;
display: flex;
justify-content: center;
align-items: center;
perspective: 800px;
}

.cube{
    position: relative;
    width: 200px;
    height: 200px;
    transform-style: preserve-3d;
    animation: cubeRotate 10s linear infinite;
}

@keyframes cubeRotate{    
}

.cube > div{
position: absolute;
width: 100%;
height: 100%;
opacity: 0.8;
border: 2px solid white;
}

.front{
    background-color: aqua;
    transform: translateZ(100px);
}

.back{
    background-color: rgb(255, 0, 0);
    transform: translateZ(-100px);
}

.left{
    background-color: aqua;
    transform:rotateY(90deg) translateZ(100px);
}

.righ{
    background-color: aqua;
    transform:rotateY(-90deg) translateZ(100px);
}

.top{
    
}