.main__heading



.main{
    background-color: #5a5985;
        background-size:auto;
        height: 100%;   
        padding: -5px;;
        margin: -1.6%;
        background-attachment: fixed;
    }
.bottom{
    background-color: #3e3d69;
        background-size:auto;
        height: 100%;   
        padding:0;
        margin: -1.6%;
        background-attachment: fixed;
        }



.ComputerCheap, .DellComputer, .DeskComputer, .Desktop, .IMAC, .ROGTYTAN {
    position: relative;
    width: 1200px;
    height: 150px;
    margin-bottom: 5px;
}

.image1, .image2, .image3, .image4, .image5, .image6 {
    position: absolute;
    top: 0;
    width: 500px;
    height: 400px;
    z-index: 2;
}

.image2 {
    top: 245px;
}

.image3 {
    top: 490px;
}

.image4 {
    top: 735px;
}

.image5 {
    top: 980px;
}

.image6 {
    top: 1225px;
}

.Text1 {
    top: 0px;
}

.Text2 {
    top: 245px;
}

.Text3 {
    top: 490px;
}

.Text4 {
    top: 735px;
}

.Text5 {
    top: 980px;
}

.Text6 {
    top: 1225px;
}

.Text1, .Text2, .Text3, .Text4, .Text5, .Text6 {
    width: 1500px;
    height: 370px;
    background-color: #7574a3;
    border-radius: 20px;
    position: absolute;
    left: 0;
    z-index: 1;
}



.bottom {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #33335e; 
    padding: 20px 0; 
    text-align: center; 
}




